.center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 27%;

}
h1{
    text-align: center;
    font-family: Cambria;
    color: green;
    font-size: 30pt;
}
h3{
    text-align: center;
    font-family: Cambria;
    color: blueviolet;
    font-size: 20pt;
}
div {
    text-align: center;
    font-family: Cambria;
    color: purple;
    font-size: 25pt;
}